<div class="table-responsive">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Status</th>
        <th>Owners</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurant of filteredRestaurants">
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.description }}</td>
        <td>{{ restaurant.address }}</td>
        <td>{{ restaurant.phoneNumber }}</td>
        <td>{{ restaurant.status }}</td>

    
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
