<div class="d-flex justify-content-between align-items-center mb-3">
  <form [formGroup]="searchForm" class="d-flex">
    <input type="text" class="form-control me-2" formControlName="searchQuery" placeholder="Search"
      (input)="searchStores()">
  </form>
  <div>
    <select class="form-select" [(ngModel)]="selectedStatus" (change)="selectedStatusChange()">
      <option value="all">All</option>
      <option value="active">Active</option>
      <option value="pending">Pending</option>
      <option value="suspended">Suspended</option>
      <option value="rejected">Rejected</option>

    </select>
  </div>
</div>

<div class="table-responsive">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
        <th>Address</th>
        <th>Owners</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurant of filteredRestaurants | paginate: { itemsPerPage: pageSize, currentPage: p }">
        <td>
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
              class="rounded-circle" />
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ restaurant.name }}</p>
          <p class="fw-normal mb-1">TEL: {{ restaurant.phoneNumber }}</p>
        </td>
        <td>
          <span *ngIf="restaurant.status === 'active'" class="badge bg-success">Active</span>
          <span *ngIf="restaurant.status === 'pending'" class="badge bg-warning text-dark">Pending</span>
          <span *ngIf="restaurant.status === 'rejected'" class="badge bg-danger">Rejected</span>
          <span *ngIf="restaurant.status === 'suspended'" class="badge bg-secondary">Suspended</span>
        </td>
        <td style="word-wrap: break-word;">{{ restaurant.description }}</td>
        <td>{{ restaurant.address }}</td>
        <td>{{ restaurant.ownerName }}</td>
        <td>
          <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold">Show</button>
          <ng-container *ngIf="restaurant.status !== 'rejected'">
            <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" (click)="restaurant.status === 'active' ? disableStore(restaurant._id) : activateStore(restaurant._id)">
              {{ restaurant.status === 'active' ? 'Disable' : 'Enable' }}
            </button>
          </ng-container>
          <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold"
            (click)="deleteStore(restaurant._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-center mt-4" *ngIf="noResultsFound">
  <div class="centered-message">Data not found</div>
</div>

<div class="d-flex justify-content-center mt-4">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>